{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "/img1/favicon.ico" %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static "/css1/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "/css1/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "/css1/slicknav.css" %}">
    <link rel="stylesheet" href="{% static "/css1/flaticon.css" %}">
    <link rel="stylesheet" href="{% static "/css1/progressbar_barfiller.css" %}">
    <link rel="stylesheet" href="{% static "/css1/gijgo.css" %}">
    <link rel="stylesheet" href="{% static "/css1/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "/css1/animated-headline.css" %}">
    <link rel="stylesheet" href="{% static "/css1/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "/css1/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "/css1/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "/css1/slick.css" %}">
    <link rel="stylesheet" href="{% static "/css1/nice-select.css" %}">
    <link rel="stylesheet" href="{% static "/css1/style.css" %}">
    
</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static "/img1/logo/loder.png" %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
     <div class="" >
            <a href=""><img src="{% static "/img1/hero/h1_hero.png" %}" alt="" style="width:100%;height:750px"></a>
            <div class="single-slider slider-height d-flex align-items-center" style="margin-top:-600px">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 col-md-12">
                            <div class="" style="margin-top: -350px;">
                                <h1  style="color:white;font-size:50px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" data-animation="fadeInLeft" data-delay="0.2s">Register your Complaints</h1>
                                <p data-animation="fadeInLeft" data-delay="0.4s" style="color: white;">Tell Us Your Complaints about anything regarding your college</p>
                                <a href="register" class="btn hero-btn" >REGISTER</a>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
            
        </div>   
        
        <div class="header-area header-transparent">
           
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                           
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="">
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav >
                                            <ul id="navigation">                                                                                          
                                                <li class="active" ><a href="index">Home</a></li>
                                                </li>
                                                
                                                <!-- Button -->
                                                <li class="button-header margin-left "><a href="faclogin" class="btn" style="margin-right: -40px;">faculty login</a></li>
                                                <li class="button-header margin-left "><a href="login" class="btn" style="margin-right: -40px;">LOGIN</a></li>
                                                <li class="button-header margin-left "><a href="register" class="btn">REGISTER</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                </div>
                            </div> 
                        
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        
        <!-- Header End -->
     </header>
    
     
     
        
        <!-- ? services-area -->
        <div class="services-area" >
            <div class="container" >
                <div class="row justify-content-sm-center" style="margin-top: -350px;">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="{% static "/img1/icon/icon1.svg" %}" alt="not available">
                            </div>
                            <div class="features-caption">
                                <h3>Effective Complaint Resolving</h3>
                                <p>The university provide student complaint box which is very effective and reliable</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="{% static "/img1/icon/icon2.svg" %}" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Experts For Solving Complaints</h3>
                                <p>University Experts will look into your Complaints And Take necessary Actions</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="{% static "/img1/icon/icon3.svg" %}" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Time Efficent System Management</h3>
                                <p>The Complaints from students will be resolved from within 24 Hours</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--? About Area-1 Start -->
        <section class="about-area3 fix">
            <div class="support-wrapper align-items-center" style="margin-top: 100px;">
                <div class="right-content3">
                    <!-- img -->
                    <div class="right-img">
                        <img src="{% static "/img1/gallery/boy.jpg" %}" alt="" style="width:400px">
                    </div>
                </div>
                <div class="left-content3">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-20">
                        <div class="front-text">
                            <h2 class=""  style="text-align: center;">Top features of our complaint box system</h2>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static "/img1/icon/right-icon.svg" %}" alt="">
                        </div>
                        <div class="features-caption" style="text-align:justify">
                            <p>Anonymity: Many systems allow for anonymous submissions, which can encourage more people to voice concerns without fear of retaliation or embarrassment.
                            </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static "/img1/icon/right-icon.svg" %}" alt="">
                        </div>
                        <div class="features-caption" style="text-align:justify">
                            <p>Efficiency: Complaints can be logged, tracked, and managed more efficiently. Automated systems can categorize and prioritize issues, streamlining the resolution process.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static "/img1/icon/right-icon.svg" %}" alt="">
                        </div>
                        <div class="features-caption" style="text-align:justify">
                            <p>Transparency: An online system can provide visibility into the status of complaints, including acknowledgments, updates, and resolutions, which fosters transparency and trust in the process.</p>
                        </div>
                    </div>
                    <div class="single-features"></div>
                        <div class="features-icon">
                            <img src="{% static "/img1/icon/right-icon.svg" %}" alt="">
                        </div>
                        <div class="features-caption" style="text-align:justify">
                            <p>Transparency: An online system can provide visibility into the status of complaints, including acknowledgments, updates, and resolutions, which fosters transparency and trust in the process.</p>
                        </div>
                    </div>
                    
                   
            </div>
        </section>
        
        <section class="about-area3 fix">
            <div class="support-wrapper align-items-center" style="margin-top: 100px;">
                <div class="right-content3">
                    <!-- img -->
                    <div class="right-img">
                        <img src="{% static "/img1/gallery/about3.png" %}" alt="">
                    </div>
                </div>
                <div class="left-content3">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-20">
                        <div class="front-text">
                            <h2 class=""  style="text-align: center;">Actions we will take regarding your complaints</h2>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static "/img1/icon/right-icon.svg" %}" alt="">
                        </div>
                        <div class="features-caption" style="text-align:justify">
                            <p>Acknowledge Receipt: Faculty will usually send an acknowledgment message to confirm they have received the complaint. This helps reassure the student that their issue is being taken seriously.</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static "/img1/icon/right-icon.svg" %}" alt="">
                        </div>
                        <div class="features-caption" style="text-align:justify">
                            <p>Review the Complaint: Faculty will carefully review the details of the complaint. This may involve checking relevant documents, assignments, and communications to understand the issue fully..</p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <img src="{% static "/img1/icon/right-icon.svg" %}" alt="">
                        </div>
                        <div class="features-caption" style="text-align:justify">
                            <p>Assess the Situation: Faculty will evaluate the complaint against institutional policies, course guidelines, and any relevant precedents. They may also consider any extenuating circumstances that might have contributed to the issue.</p>
                        </div>
                    </div>
                    <div class="single-features"></div>
                        <div class="features-icon">
                            <img src="{% static "/img1/icon/right-icon.svg" %}" alt="">
                        </div>
                        <div class="features-caption" style="text-align:justify">
                            <p>Implement Solutions: Based on the findings, faculty will implement appropriate solutions or corrective actions. This could involve adjusting grades, providing additional support, or modifying course policies.</p>
                        </div>
                    </div>
                   
            </div>
        </section>
        <!-- About Area End -->
        <!--? Team -->
        <section class="team-area section-padding40 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>University Experts</h2>
                        </div>
                    </div>
                </div>
                <div class="team-active">
                    <div class="single-cat text-center">
                        <div class="cat-icon">
                            <img src="{% static "/img1/gallery/team1.png" %}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Mr. Thomas</a></h5>
                            <p>Trainer</p>
                        </div>
                    </div>
                    <div class="single-cat text-center">
                        <div class="cat-icon">
                            <img src="{% static "/img1/gallery/team2.png" %}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Mr.Krishna</a></h5>
                            <p>HR</p>
                        </div>
                    </div>
                    <div class="single-cat text-center">
                        <div class="cat-icon">
                            <img src="{% static "/img1/gallery/team3.png" %}" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="services.html">Mr. Jacob</a></h5>
                            <p>Operation Head</p>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
        <!-- Services End -->
        <!--? About Area-2 Start -->
        <section class="about-area2 fix pb-padding">
            <div class="support-wrapper align-items-center">
                <div class="right-content2">
                    <!-- img -->
                    <div class="right-img">
                        <img src="{% static "/img1/gallery/about2.png" %}" alt="">
                    </div>
                </div>
                <div class="left-content2">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-20">
                        <div class="front-text">
                            <h2 class="">Feel Free to communuicate
                            with us.</h2>
                            <p>Our complaint box system is userfriendly and efficent</p>
                            <a href="#" class="btn">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
    </main>
{% include "footer.html" %}

