{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> App landing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "/img1/favicon.ico" %}">

	<!-- CSS here -->
	<link rel="stylesheet" href="{% static "/css1/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "/css1/owl.carousel.min.css" %}">
	<link rel="stylesheet" href="{% static "/css1/slicknav.css" %}">
    <link rel="stylesheet" href="{% static "/css1/flaticon.css" %}">
    <link rel="stylesheet" href="{% static "/css1/progressbar_barfiller.css" %}">
    <link rel="stylesheet" href="{% static "/css1/gijgo.css" %}">
    <link rel="stylesheet" href="{% static "/css1/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "/css1/animated-headline.css" %}">
	<link rel="stylesheet" href="{% static "/css1/magnific-popup.css" %}">
	<link rel="stylesheet" href="{% static "/css1/fontawesome-all.min.css" %}">
	<link rel="stylesheet" href="{% static "/css1/themify-icons.css" %}">
	<link rel="stylesheet" href="{% static "/css1/slick.css" %}">
	<link rel="stylesheet" href="{% static "/css1/nice-select.css" %}">
	<link rel="stylesheet" href="{% static "/css1/style.css" %}">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static "/img1/logo/loder.png" %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->


    <main class="login-body" data-vide-bg="{% static "/images/course-video.mp4" %}">
        <!-- Login Admin -->
        <form class="form-default" action="comupdates/{{res.id}}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="login-form">
                <!-- logo-login -->
                <div class="logo-login">
                    <a href="index.html"><img src="{% static "/img1/logo/loder.png" %}" alt=""></a>
                </div>
                <h2>Update</h2>
                <div class="form-input">
                    <input  type="text" name="complaintto" placeholder="complaint to" value="{{res.complaintto}}">
                </div>
                <div class="form-input">
                    
                    <input  type="date" name="date" placeholder="date"  value="{{res.date}}">
                </div>
                <div class="form-input">
                    
                    <input type="text" name="name" placeholder="name"  value="{{res.name}}">
                </div>
                <div class="form-input">
                    
                    <input type="email" name="email" placeholder="email"  value="{{res.email}}">
                </div>
                <div class="form-input">
                    
                    <input type="text" name="complaintmsg" placeholder="message"  value="{{res.complaintmsg}}">
                </div>
               
                <div class="form-input pt-30">
                    <input type="submit"  value="update">
                </div>
                
                
            </div>
        </form>
        <!-- /end login form -->
    </main>


    <script src="{% static "/js1/vendor/modernizr-3.5.0.min.js" %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static "/js1/vendor/jquery-1.12.4.min.js" %}"></script>
    <script src="{% static "/js1/popper.min.js" %}"></script>
    <script src="{% static "/js1/bootstrap.min.js" %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static "/js1/jquery.slicknav.min.js" %}"></script>

    <!-- Video bg -->
    <script src="{% static "/js1/jquery.vide.js" %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static "/js1/owl.carousel.min.js" %}"></script>
    <script src="{% static "/js1/slick.min.js" %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static "/js1/wow.min.js" %}"></script>
    <script src="{% static "/js1/animated.headline.js" %}"></script>
    <script src="{% static "/js1/jquery.magnific-popup.js" %}"></script>

    <!-- Date Picker -->
    <script src="{% static "/js1/gijgo.min.js" %}"></script>
    <!-- Nice-select, sticky -->
    <script src="{% static "/js1/jquery.nice-select.min.js" %}"></script>
    <script src="{% static "/js1/jquery.sticky.js" %}"></script>
    <!-- Progress -->
    <script src="{% static "/js1/jquery.barfiller.js" %}"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src="{% static "/js1/jquery.counterup.min.js" %}"></script>
    <script src="{% static "/js1/waypoints.min.js" %}"></script>
    <script src="{% static "/js1/jquery.countdown.min.js" %}"></script>
    <script src="{% static "/js1/hover-direction-snake.min.js" %}"></script>

    <!-- contact js -->
    <script src="{% static "/js1/contact.js" %}"></script>
    <script src="{% static "/js1/jquery.form.js" %}"></script>
    <script src="{% static "/js1/jquery.validate.min.js" %}"></script>
    <script src="{% static "/js1/mail-script.js" %}"></script>
    <script src="{% static "/js1/jquery.ajaxchimp.min.js" %}"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="{% static "/js1/plugins.js" %}"></script>
    <script src="{% static "/js1/main.js" %}"></script>
    
    </body>
</html>